.modal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  display: grid;
  z-index: 100;
}
.modal-content {
  width: 70%;
  height: 65%;
  position: absolute;
  top: 0;
  left: 15%;
  background-color: rgba(255, 255, 255, 0.979);
  padding-top: 40px;
  margin-top: 50px;
}
.close-modal {
  position: absolute;
  right: 3%;
  top: 3%;
  border: none;
  background-color: white;
  color: red;
  font-size: 30px;
}
.close-modal:hover {
  cursor: pointer;
}
.form-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 20px;
}
.modal-image {
  width: 95%;
  grid-column: 1/4;
  grid-row: 1/10;
  margin-left: 30px;
}

.product-orginal-name,
.product-orginal-price,
.product-orginal-discount {
  grid-column: 4/5;
  background-color: #c70039;
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 3px black;
  width: 100%;
  height: 100%;
  align-self: center;
  text-align: center;
  box-shadow: 3px 3px 3px black;
  font-size: 18px;
}
.product-orginal-name {
  grid-row: 1;
}
.product-orginal-price {
  grid-row: 3;
}
.product-orginal-discount {
  grid-row: 5;
}
.modal-edit-btn,
.modal-discount-btn {
  grid-row: 3;
  grid-column: 6/7;
  padding: 15px;
  font-size: 10px;
  width: 90%;
  height: 100%;
  background-color: #c70039;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 3px black;
  border: none;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  box-shadow: 3px 3px 3px black;
}
.modal-discount-btn {
  grid-row: 5;
  grid-column: 6/7;
}

.modal-edit-btn:hover,
.modal-discount-btn:hover {
  cursor: pointer;
}
.modal-inputs-1,
.modal-inputs-2,
.modal-inputs-3 {
  grid-row: 1;
  grid-column: 5/6;
  border: none;
  padding: 10px;
  border-bottom: 2px solid grey;
  font-weight: 700;
  margin-right: 40px;
  background-color: transparent;
  text-align: center;
  font-size: 17px;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px black;
  height: 100%;
}
.modal-inputs-2 {
  grid-row: 3;
  grid-column: 5/6;
}
.modal-inputs-3 {
  grid-row: 5;
  grid-column: 5/6;
}
