.nav-container {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  height: 90vh;
  z-index: 2;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  border-radius: 5px;
}
.nav-background {
  border: none;
  border-radius: 5px;
  width: 0;
  text-align: center;
}

.nav-links {
  width: 0;
  height: 0;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  align-items: center;
  opacity: 0;
  transition: all 0.5s 0.3s;
}

.nav-background:hover .nav-links {
  width: 100%;
  height: 50vh;
  opacity: 1;
}

.nav-background:before {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 5%;
  top: -2%;
  background-color: rgb(252, 233, 233);
  clip-path: circle(0.1% at 6% 7%);
  transition: all 1s;
  z-index: -1;
  border-radius: 5px;
}

.nav-background:hover:before {
  width: 100%;
  height: 200%;
  clip-path: circle(73.3% at 48% 48%);
  cursor: pointer;
}
.nav-icon {
  height: 80px;
  transition: all 0.5s linear;
}
.nav-icon:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.nav-item-1:before,
.nav-item-2:before,
.nav-item-3:before,
.nav-item-4:before {
  content: "Cart";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: #c70039;
  color: white;
  clip-path: circle(0% at 50% 50%);
  transition: all 0.5s;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 998px) {
}
.nav-item-2:before {
  content: "Order";
}
.nav-item-3:before {
  content: "About";
}
.nav-item-4:before {
  content: "Contact";
}
.nav-item-1 {
  grid-row: 2;
  grid-column: 4;
  font-size: 30px;
  color: #c70039;
  position: relative;
  text-shadow: 1px 1px 2px black;
}
.nav-item-2 {
  grid-row: 3;
  font-size: 30px;
  grid-column: 4;
  color: #c70039;
  position: relative;
  text-shadow: 1px 1px 2px black;
}
.nav-item-3 {
  grid-row: 4;
  font-size: 30px;
  grid-column: 4;
  color: #c70039;
  position: relative;
  text-shadow: 1px 1px 2px black;
}
.nav-item-4 {
  grid-row: 5;
  font-size: 30px;
  grid-column: 4/5;
  color: #c70039;
  position: relative;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 1600px) {
  .nav-item-1,
  .nav-item-2,
  .nav-item-3,
  .nav-item-4 {
    left: -30px;
  }
}
@media screen and (max-width: 1270px) {
  .nav-item-1,
  .nav-item-2,
  .nav-item-3,
  .nav-item-4 {
    left: -50px;
    font-size: 25px;
  }
}
@media screen and (max-width: 998px) {
  .nav-item-1,
  .nav-item-2,
  .nav-item-3,
  .nav-item-4 {
    left: -60px;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    opacity: 1;
    position: absolute;
    top: 2%;
  }
  .nav-background:before {
    width: 100%;

    position: absolute;
    left: -10%;
  }
  .nav-links {
    grid-row: 1;
    position: relative;
    top: -15%;
  }
  .nav-item-1 {
    grid-row: 1;
    grid-column: 6;
  }
  .nav-item-2 {
    grid-row: 1;
    grid-column: 7;
  }
  .nav-item-3 {
    grid-row: 1;
    grid-column: 8;
  }
  .nav-item-4 {
    grid-row: 1;
    grid-column: 9;
  }
}
.nav-item-1:hover,
.nav-item-2:hover,
.nav-item-3:hover,
.nav-item-4:hover {
  cursor: pointer;
  color: white;
}

.nav-item-1:hover:before,
.nav-item-2:hover:before,
.nav-item-3:hover:before,
.nav-item-4:hover:before {
  clip-path: circle(61.9% at 50% 50%);
  transform: translateX(-10%);
  width: 180%;
  height: 230%;
}

.nav-background:hover .nav-item-1 {
  opacity: 1;
}
